<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.gktalk.mapper.ArticleMapper">
    <insert id="addOne" parameterType="article">
        insert article(artic_id,artic_title,artic_content,artic_author,artic_date) values (#{artic_id},#{artic_title},#{artic_content},#{artic_author},#{artic_date});
    </insert>

    <select id="selectOneByArticleID" parameterType="int">
        select * from article where artic_id = #{artic_id};
    </select>
</mapper>
