<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.gktalk.mapper.ArticleMapper">
    <insert id="addOne" parameterType="article">
        insert article(artic_title,artic_content,artic_author,artic_date,artic_status)
        values (#{artic_title},#{artic_content},#{artic_author},#{artic_date},#{artic_status})
    </insert>

    <select id="selectOneByArticleID" parameterType="int" resultType="Article">
        select * from article where artic_id = #{artic_id} and artic_status = 0
    </select>

    <resultMap id="ArticleResult" type="ArticleDto">
        <id property="article_id" column="artic_id"/>
        <result property="article_title" column="artic_title"/>
        <result property="article_content" column="artic_content"/>
        <result property="date" column="artic_date"/>
        <association property="author" javaType="AuthorDto">
            <id property="author_id" column="userID"/>
            <result property="author_name" column="name"/>
            <result property="author_picpath" column="picpath"/>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="ArticleResult">
        select a.artic_id,a.artic_title,a.artic_content,u.userID,u.name,a.artic_date,u.picpath from
        article a inner join user u
        on a.artic_author = u.userID
        where artic_status = 0
    </select>

    <update id="updateOne" parameterType="Article">
        update article
        <set>
            <if test="artic_title != null">artic_title = #{artic_title},</if>
            <if test="artic_content != null">artic_content = #{artic_content},</if>
            <if test="artic_date != null">artic_date = #{artic_date},</if>
            <if test="artic_status != null">artic_status = #{artic_status}</if>
        </set>
        where artic_id = #{artic_id}
    </update>

    <select id="selectUnapprovedArticles" resultMap="ArticleResult">
        select a.artic_id,a.artic_title,a.artic_content,u.userID,u.name,a.artic_date from
        article a inner join user u
        on a.artic_author = u.userID
        where artic_status = 2
    </select>

    <select id="selectArticleById" resultMap="ArticleResult">
        select a.artic_id,a.artic_title,a.artic_content,u.userID,u.name,a.artic_date from
        article a inner join user u
        on a.artic_author = u.userID
        where a.artic_id = #{article_id}
    </select>
</mapper>
