<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.gktalk.mapper.StoreUpMapper">
    <insert id="addOne" parameterType="storeUp">
        insert into user_store(art_id,user_id,status) values (#{art_id},#{user_id},#{status})
    </insert>

    <update id="cancel" parameterType="storeUp">
        update user_store set status=0
            where user_id = #{user_id} and art_id = #{art_id}
    </update>

    <select id="countNum">
        select count (*) from user_store
            where art_id = #{art_id} and status = 1
    </select>
</mapper>
